.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: #f0f4f8;
}

.sidebar {
  width: 100%;
  padding: 15px;
  background-color: #f4f4f9;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  height: auto;
  box-sizing: border-box;
}

.chatPanel {
  width: 100%;
  background-color: #ffffff;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .chatContainer {
    flex-direction: row;
    height: 100vh;
    width: 90%;
    margin: 0 auto;
  }

  .sidebar {
    width: 35%;
    height: 100vh;
    border-right: 1px solid #ddd;
  }

  .chatPanel {
    width: 65%;
    height: 100vh;
  }
}
@media (min-width: 1024px) {
  .chatContainer {
    width: 80%;
    margin: 0 auto;
  }

  .sidebar {
    width: 30%;
  }

  .chatPanel {
    width: 70%;
  }
}
